/*
font
*/
:root {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5;
  font-style: normal;
  background-color: #f9cbcb;
  overflow: hidden;

}
.body-inner {
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Center the text inside the body-inner */
    height: 100vh; /* Full height of the viewport */
    overflow: auto; /* Add this line */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -91;
}

.heart {
    position: absolute;
    width: 50px; 
    height: 50px; 
    animation: floatUp 10s linear infinite;
    will-change: transform;
    z-index: -100;
}

@keyframes floatUp {
    0% {
        bottom: 0;
        opacity: 0.01;
    }
    50% {
        opacity: 1;
    }
    100% {
        bottom: 100vh;
        opacity: 0.5;
    }
}

.header,
.footer {
    width: 100%;
    height: 50vh;
    position: fixed;
    left: 0;
    z-index: -90; /* Ensure it's above other content */

}

.header {
    top: 0;
    background: linear-gradient(to bottom, #f9cbcb, rgba(255, 0, 0, 0)); /* White to Blue */

}

.footer {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #f9cbcb); /* White to Blue */

}
h1 {
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 2em;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.356);
}
.coquette-text {
    color: #000000; /* Change the text color to black */
    border: 2px solid white;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.5);}
